services:
  # SQL
  mysql:
    image: weather_sql:latest
    build:
      context: .
      dockerfile: mysql/Dockerfile
    container_name: weather_sql_container
    networks:
      - my_network_by_compose
    ports:
      - 3305:3306
  # MLFlow
  MLFlow:
    image: weather_mlflow:latest
    build:
      context: .
      dockerfile: docker_images/Dockerfile_mlflow
    container_name: weather_mlflow_container
    networks:
      - my_network_by_compose
    ports:
      - "8080:8080"
  # model
  model:
    depends_on: 
      - MLFlow
      - mysql
    image: weather_model:latest
    build:
      context: .
      dockerfile: docker_images/Dockerfile_model
    container_name: weather_model_container
    networks:
      - my_network_by_compose
    ports:
      - "8000:8000"
    volumes:
      - shared-data:/app/data
    environment:
      MLFLOW_TRACKING_URI: 'http://weather_mlflow_container:8080'
  # Streamlit
  Streamlit:
    depends_on:
      - model
    image: weather_streamlit:latest
    build:
      context: .
      dockerfile: docker_images/Dockerfile_streamlit
    container_name: weather_streamlit_container
    networks:
      - my_network_by_compose
    environment:
      MODEL_URI: 'http://weather_model_container:8000'
    volumes:
      - shared-data:/app/data:ro
    ports:
      - "8501:8501"

  cron:
    depends_on: 
      - model
      - mysql
    build:
      context: .
      dockerfile: docker_images/Dockerfile_cron
    container_name: cron
    networks:
      - my_network_by_compose
    volumes:
      - shared-data:/app/data


  # testing model
  test_model:
    image: datascientest/curl:latest
    networks:
      - my_network_by_compose
    command: ["http://weather_model_container:8000"]
    depends_on:
      - model
  
volumes:
  shared-data:

networks:
  my_network_by_compose: 
    driver: bridge
    ipam:
      config:
        - subnet: "172.28.0.0/16"
          gateway: "172.28.0.1"
